@tailwind base;
@tailwind components;
@tailwind utilities;

.main-repo{
  margin: auto;
}
.language-circle{
  margin-top: 2px;
}
.user-avatar img{
  border-radius: 50%;
}
.repo-details-heading{
  margin: auto;
}
.repo-desc{
  margin: auto;
  margin-top: 30px;
}
.cancel-btn{
  float: right;
  cursor: pointer;
}
.modal-main{
  position: absolute;
  left: 200px;
}
.modal-edit-main{
  position: absolute;
  left: 200px;
}